lung_cancer_detection_model.onnx filter=lfs diff=lfs merge=lfs -text
lung_cancer_detection_model.pth filter=lfs diff=lfs merge=lfs -text
AI/LungAI/Model/lung_cancer_detection_model.onnx filter=lfs diff=lfs merge=lfs -text
AI/LungAI/Model/lung_cancer_detection_model.pth filter=lfs diff=lfs merge=lfs -text
C:/AFIF/healthcare_with_ai/AI/Retinal-Disease-Detection/models/ResNet50_v1.0.ipynb filter=lfs diff=lfs merge=lfs -text
C:/AFIF/healthcare_with_ai/AI/Retinal-Disease-Detection/models/ResNet50_v1.0.ipynb.pth filter=lfs diff=lfs merge=lfs -text
C:/AFIF/healthcare_with_ai/AI/Retinal-Disease-Detection/models/ResNet50_v1.0.py.pth filter=lfs diff=lfs merge=lfs -text
AI/Parkinson-Patient-Speech-Dataset filter=lfs diff=lfs merge=lfs -text
AI/Parkinson-Patient-Speech-Dataset/speech/data/lm/lm.binary filter=lfs diff=lfs merge=lfs -text
AI/Parkinson-Patient-Speech-Dataset/speech/data/lm/trie filter=lfs diff=lfs merge=lfs -text
AI/Parkinson-Patient-Speech-Dataset/speech/data/lm/models.zip filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
